BusStopNotifier.xcodeproj/project.xcworkspace/xcuserdata/diasyerlan.xcuserdatad/UserInterfaceState.xcuserstate
BusStopNotifier.xcworkspace/xcuserdata/diasyerlan.xcuserdatad/UserInterfaceState.xcuserstate